.checked {
    text-decoration: line-through;
}
.hovered {
    font-size: 50px;
    background-color: bisque;
}
.toDoList {
    margin: auto;
    border-radius: 20px;
    width: 50%;
    font-family: arial;
    background-color: lightgray;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

ol {
    font-size: 35px;
    color: white;
    margin: 0px;
    margin-left: 30px;
}
#addLine {
    border-radius: 6px;
    height: 27px;
    font-size: 20px;
    border: 0px;
}

#submitLine {
    border-radius: 6px;
    height: 27px;
    width: 50px;
    border: 0px;
    margin-left: 20px;
}
.delButton {
    margin-left: 20px;
    border-radius: 6px;
    height: 40px;
    width: 50px;
    border: 0px;
    font-size: 20px;
}
